nav.navbar.navbar-default
  .container-fluid

    /! Header
    .navbar-header
      a.navbar-brand href="#"
        img alt=("Simon's Blog") src="..."

    /! Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        /! <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li
        li= link_to 'Home', welcome_index_path
        li= link_to 'Articles', controller: 'articles'
        li= link_to 'New Article', new_article_path
      form.navbar-form.navbar-right role="search"
        .form-group
          input.form-control placeholder="Search" type="text"
        button.btn.btn-default type="submit" Submit